certifi
charset-normalizer
click
deepl
filelock
huggingface-hub
idna
importlib-metadata
joblib
nltk
numpy
packaging
pandas
Pillow
pyparsing
PySimpleGUI
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sklearn
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
zipp
textblob
googletrans==3.1.0a0